main {
  font-size: 18px;
  line-height: 1.2;
}

main,
footer {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  display: inline-block;
  font-size: 25px;
  width: 100%;
}

h1,
h2 {
  font-family: "Press Start 2P", cursive;
  color: black;
}

h3 {
  padding-left: 40px;
}

ul {
  text-align: left;
}
summary::-webkit-details-marker {
  display: none;
}

summary::before {
  font-family: "Press Start 2P", cursive;
  content: ">";
}

details[open] summary:before {
  transform: rotate(90deg);
  display: inline-block;
}

.card {
  background-color: #ecfcf0;
  margin: 50px 0;
  padding: 15px;
}

.row {
  display: flex;
}

body {
  margin: 0;
  background-image: url(./images/memphis-colorful.png);
}

.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.heart {
  background-image: url(./images/hearts.png);
  height: 30px;
  width: 42px;
  display: inline-block;
  background-size: cover;
}

.heart.full {
  background-position: center;
}

.heart.half {
  background-position: right;
}

.heart.empty {
  background-position: left;
}

.column {
  flex: 1;
  padding: 10px;
}
