.aboutMe {
  margin-top: 50px;

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .aboutMeAll {
    display: flex;
  }

  .myFace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    img {
      box-shadow: 10px 10px $pink;
      width: 300px;
      height: auto;
    }
  }

  h3 {
    color: $purple;
    text-align: center;
  }

  p {
    margin-bottom: 15px;
  }
}
