.contact {
  margin-top: 65px;
  margin-bottom: 65px;

  h3 {
    display: block;
    width: max-content;
    margin: 0 auto;
    position: relative;
  }
}

.contactForm {
  max-width: 700px;
  margin: 0 auto;

  button {
    font-size: 1.3rem;
    margin-top: 0;
    padding: 10px;
  }
}

.contactInfo {
  display: flex;
  input {
    padding: 10px;
    flex-basis: 50%;
    background-color: transparent;
    border: 3px solid $black;
    border-radius: 5px;

    &:last-child {
      margin-left: 20px;
    }

    &:hover,
    &:focus {
      border: 3px solid $purple;
    }
  }
}

textarea {
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  height: 200px;
  border: 3px solid $black;
  border-radius: 5px;
  background-color: transparent;

  &:hover,
  &focus {
    border: 3px solid $pink;
  }
}

// Contact squiggle placement
.contactSquiggle {
  position: absolute;
  transform: rotate(180deg);
  top: -46px;
  right: -85px;
}
