.wrapper {
  width: 1100px;
  margin: 0 auto;
  max-width: 90%;
}

h1 {
  font-family: $headerFont;
  font-size: 5rem;
  line-height: 1.5;
  color: $yellow;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3.5rem;
  font-family: $headerFont;
  margin-bottom: 10px;
  line-height: 1.5;
  padding-bottom: 10px;
}

h4 {
  font-size: 2rem;
}

body,
textarea {
  font-family: $bodyFont;
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  color: $black;

  &:hover,
  &:focus {
    color: $pink;
  }
}
// ********************
// Button link design
// ********************
.liveLink,
button,
.backToMainLink {
  display: inline-block;
  margin-top: 20px;
  padding: 7px;
  color: $black;
  text-decoration: none;

  border-radius: 5px;
  border: 3px solid $black;

  background: linear-gradient(to right, $turquoise 50%, transparent 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all 0.7s ease-out;

  &:hover,
  &:focus {
    background-position: left bottom;
    color: $black;
  }
}

// ***********************
// social links Header & Contact
// ***********************
.socialLinks {
  padding-top: 20px;
  ul {
    display: flex;
  }

  i {
    font-size: 2rem;
    padding: 0 10px;
  }

  i:hover:before,
  a:focus i:before {
    transform: scale(1.5);
    display: block;
  }

  .fa-envelope:hover:before,
  .fa-envelope:focus:before,
  .fa-linkedin:hover:before,
  .fa-linkedin:focus:before {
    color: $turquoise;
  }

  .fa-github-square:hover:before,
  .fa-github-square:focus:before,
  .fa-twitter-square:hover:before,
  .fa-linkedin:focus:before {
    color: $yellow;
  }

  a {
    padding: 5px;
    text-decoration: none;
    font-size: 2rem;
  }

  .resume a:hover,
  .resume a:focus {
    background: $turquoise;
    color: $black;
    border-radius: 5px;
    padding: 5px;
    border: none;
  }
}

//******************************
// animation path for squiggles
// *****************************
path {
  stroke-width: 10px;
  stroke: $turquoise;
  stroke-linecap: round;
  stroke-dasharray: 50 100;
  stroke-dashoffset: 50;
  fill-opacity: 0;
  animation-duration: 1.2s;
  animation-name: squiggles;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes squiggles {
  from {
    stroke-dashoffset: 50;
  }

  to {
    stroke-dashoffset: -100;
  }
}

// ************
// Accessibility
// *************

.srOnly {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}
