.index {
  height: 100vh;
  background-color: $pink;

  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  // ***************
  // Nav Bar styles
  // ***************
  nav {
    font-size: 1.5rem;
    padding-top: 20px;

    ul {
      display: flex;
      justify-content: flex-end;

      li {
        padding: 10px;
      }

      a {
        color: white;
        text-decoration: none;
      }

      a:hover,
      a:focus {
        border-bottom: 2px solid $yellow;
      }
    }
  }

  // *****************
  // Hero styles
  // ******************
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
  }

  h2,
  p,
  i,
  .resume a {
    color: white;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  // Align social links
  .socialLinks {
    display: flex;
    justify-content: center;
  }
}

// svg squiggles animation

svg {
  position: absolute;
}

.leftSquiggle {
  left: 0;
  bottom: 120px;
}

.rightSquiggle {
  transform: rotate(180deg);
  right: 0;
  top: 80px;
}

// mobile burger menu
.menuToggle,
.menuClose,
.backdrop {
  display: none;
}
