@media (max-width: 800px) {
  .aboutMe {
    .myFace img {
      align-self: center;
      margin-bottom: 20px;
    }
    .aboutMeAll {
      flex-direction: column;
    }
  }

  .projectContainer {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .projectText {
    margin: 20px 0 20px 10px;
  }

  h4 {
    font-size: 1.4rem;
  }

  .skills {
    i {
      font-size: 4rem;
    }
  }
}

@media (max-width: 630px) {
  .index {
    nav {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 1.6rem;
    }
  }

  .socialLinks {
    ul {
      align-items: center;
    }

    .resume a,
    i {
      font-size: 1.5rem;
    }
  }
  .leftSquiggle {
    bottom: 50px;
  }
  .skills .iconRows {
    flex-direction: row;
    justify-content: space-around;
  }

  .skills .iconRow {
    flex-direction: column;
  }

  .contactInfo {
    flex-direction: column;
  }

  .contactInfo input:last-child {
    margin-left: 0;
    margin-top: 10px;
  }

  //   footer

  footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
}
