@media (max-width: 800px) {
  .rightSquiggle {
    right: -20px;
    top: 40px;
  }

  .leftSquiggle {
    left: 25px;
    bottom: 10px;
  }

  .aboutMe {
    .myFace img {
      align-self: center;
      margin-bottom: 20px;
    }
    .aboutMeAll {
      flex-direction: column;
    }
  }

  .projectContainer {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .projectText {
    margin: 20px 0 20px 10px;
  }

  h4 {
    font-size: 1.4rem;
  }

  .skills {
    i {
      font-size: 4rem;
    }
  }
}

@media (max-width: 630px) {
  .index {
    nav {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 1.6rem;
    }
  }

  .socialLinks {
    ul {
      align-items: center;
    }

    .resume a,
    i {
      font-size: 1.5rem;
    }
  }
  .leftSquiggle {
    bottom: 30px;
  }
  .skills .iconRows {
    flex-direction: row;
    justify-content: space-around;
  }

  .skills .iconRow {
    flex-direction: column;
  }

  .contactInfo {
    flex-direction: column;
    input {
      flex-basis: unset;
    }
  }

  .contactInfo input:last-child {
    margin-left: 0;
    margin-top: 10px;
  }

  //   footer
  footer .wrapper {
    flex-direction: column;
    align-items: center;
  }

  // **************
  // Hamburger menu
  // ***************

  .index nav ul {
    flex-direction: column;
    justify-content: flex-start;

    a {
      color: white;
    }
  }
  .srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  // Bars menu placement
  .menuToggle {
    display: flex;
    justify-content: flex-end;
    line-height: 1.5;
    font-size: 3rem;
    color: $yellow;
    text-decoration: none;
    padding-top: 20px;

    &:hover,
    &:focus {
      color: $turquoise;
    }
  }

  // Open menu styles
  .mainMenu {
    position: absolute;
    display: none;
    top: 0;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease;
    box-shadow: 0.3s ease;
    z-index: 999;
    background-color: $pink;

    ul {
      min-height: 100%;
      width: 200px;
    }

    a {
      display: block;
      color: $black;
    }

    & li a:hover,
    & li a:focus {
      background-color: $yellow;
      color: $black;
    }

    .menuClose {
      position: absolute;
      right: 0;
      top: 0;
    }

    &.menuOpen,
    &[aria-expanded="true"] {
      display: block;
      right: 0;
      outline: none;
    }

    &.menuOpen .menuClose,
    &[aria-expanded="true"] .menuClose {
      z-index: 1001;
    }

    &.menuOpen ul,
    &[aria-expanded="true"] ul {
      position: relative;
      z-index: 1000;
      margin-top: 40px;
    }

    &.menuOpen + .backdrop,
    &[aria-expanded="true"] + .backdrop {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 998;
      background: $pink;
      background: rgba(0, 0, 0, 0.85);
      cursor: default;
    }
  }

  .fa-times {
    font-size: 3.5rem;
    padding: 15px;
    color: $yellow;

    &:hover,
    &:focus {
      color: $turquoise;
    }
  }

  @supports (position: fixed) {
    .mainMenu,
    .mainMenu.menuOpen + .backdrop,
    .mainMenu[aria-expanded="true"] + .backdrop {
      position: fixed;
    }
  }
}

// ****************
// break point 3
// ***************

@media (max-width: 530px) {
  .index h1 {
    line-height: 1.1;
    font-size: 3rem;
  }

  .leftSquiggly {
    bottom: 5px;
    left: -12px;
  }

  .contactSquiggle {
    transform: rotate(150deg);
    top: -65px;
    right: -4px;
  }
}

@media (max-width: 400px) {
  .rightSquiggle {
    transform: rotate(150deg);
    top: -17px;
    right: 0px;
  }

  .leftSquiggle {
    bottom: -60px;
    left: 10;
    transform: rotate(-27deg);
  }

  .aboutMe .myFace img {
    margin-left: 20px;
  }

  body,
  textarea,
  p {
    font-size: 1.2rem;
  }
}
