@media (max-width: 775px) {
  .projectContainer {
    flex-direction: column;

    &:nth-child(odd) {
      flex-direction: column;
    }

    .projectText {
      margin-left: unset;
    }
  }

  video {
    max-width: unset;
    height: unset;
  }
}
