a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  max-width: 90%;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  line-height: 1.5;
  color: #fee540;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3.5rem;
  font-family: "Pacifico", cursive;
  margin-bottom: 10px;
  line-height: 1.5;
  padding-bottom: 10px;
}

h4 {
  font-size: 2rem;
}

body,
textarea,
p {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

a {
  color: #08090a;
}

a:hover, a:focus {
  color: #ec279d;
}

.liveLink,
button,
.backToMainLink {
  display: inline-block;
  margin-top: 20px;
  padding: 7px;
  color: #08090a;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid #08090a;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #00f5d4), color-stop(50%, transparent));
  background: linear-gradient(to right, #00f5d4 50%, transparent 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.liveLink:hover, .liveLink:focus,
button:hover,
button:focus,
.backToMainLink:hover,
.backToMainLink:focus {
  background-position: left bottom;
  color: #08090a;
}

.socialLinks {
  padding-top: 20px;
}

.socialLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialLinks i {
  font-size: 2rem;
  padding: 0 10px;
}

.socialLinks i:hover:before,
.socialLinks a:focus i:before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  display: block;
}

.socialLinks .fa-envelope:hover:before,
.socialLinks .fa-envelope:focus:before,
.socialLinks .fa-linkedin:hover:before,
.socialLinks .fa-linkedin:focus:before {
  color: #00f5d4;
}

.socialLinks .fa-github-square:hover:before,
.socialLinks .fa-github-square:focus:before,
.socialLinks .fa-twitter-square:hover:before,
.socialLinks .fa-linkedin:focus:before {
  color: #fee540;
}

.socialLinks a {
  padding: 5px;
  text-decoration: none;
  font-size: 2rem;
}

.socialLinks .resume a:hover,
.socialLinks .resume a:focus {
  background: #00f5d4;
  color: #08090a;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

path {
  stroke-width: 10px;
  stroke: #00f5d4;
  stroke-linecap: round;
  stroke-dasharray: 50 100;
  stroke-dashoffset: 50;
  fill-opacity: 0;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-name: squiggles;
          animation-name: squiggles;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes squiggles {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: -100;
  }
}

@keyframes squiggles {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: -100;
  }
}

.srOnly {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.index {
  height: 100vh;
  background-color: #ec279d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.index .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index nav {
  font-size: 1.5rem;
  padding-top: 20px;
}

.index nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.index nav ul li {
  padding: 10px;
}

.index nav ul a {
  color: white;
  text-decoration: none;
}

.index nav ul a:hover,
.index nav ul a:focus {
  border-bottom: 2px solid #fee540;
}

.index .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  margin: 75px 0;
}

.index h2,
.index p,
.index i,
.index .resume a {
  color: white;
}

.index .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

svg {
  position: absolute;
}

.leftSquiggle {
  left: 100px;
  bottom: 50px;
}

.rightSquiggle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
  top: 80px;
}

.menuToggle,
.menuClose,
.backdrop {
  display: none;
}

.aboutMe {
  margin-top: 50px;
}

.aboutMe .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutMe .aboutMeAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutMe .myFace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

.aboutMe .myFace img {
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px #ec279d;
          box-shadow: 10px 10px #ec279d;
  width: 300px;
  height: auto;
}

.aboutMe h3 {
  color: #9b5de5;
  text-align: center;
}

.aboutMe p {
  margin-bottom: 15px;
}

.projects {
  margin-top: 75px;
}

h3 {
  color: #ec279d;
  text-align: center;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #08090a;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px #9b5de5;
          box-shadow: 10px 10px #9b5de5;
  padding: 10px;
}

.projectContainer:not(:first-of-type) {
  margin-top: 100px;
}

.imageContainer {
  width: 300px;
  border: 2px solid #ec279d;
  border-radius: 5px;
}

.imageContainer img {
  max-width: 100%;
}

.projectText {
  margin-left: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projectText span {
  color: #ec279d;
}

.projectText i {
  font-size: 3rem;
}

.techIcons {
  margin-top: 10px;
}

.liveLink {
  margin-left: 10px;
}

.skills {
  background-color: #fee540;
  margin-top: 75px;
  padding: 20px 0;
}

.skills h3 {
  color: #9b5de5;
}

.skills i {
  font-size: 5rem;
}

.skills .iconRows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills .iconRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

.skills .iconContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.contact {
  margin-top: 65px;
  margin-bottom: 65px;
}

.contact h3 {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  position: relative;
}

.contactForm {
  max-width: 700px;
  margin: 0 auto;
}

.contactForm button {
  font-size: 1.3rem;
  margin-top: 0;
  padding: 10px;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactInfo input {
  padding: 10px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: transparent;
  border: 3px solid #08090a;
  border-radius: 5px;
}

.contactInfo input:last-child {
  margin-left: 20px;
}

.contactInfo input:hover, .contactInfo input:focus {
  border: 3px solid #9b5de5;
}

textarea {
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  height: 200px;
  border: 3px solid #08090a;
  border-radius: 5px;
  background-color: transparent;
}

textarea:hover, textareafocus {
  border: 3px solid #ec279d;
}

.contactSquiggle {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -46px;
  right: -85px;
}

footer {
  font-size: 1.3rem;
  color: white;
  background-color: #ec279d;
  padding: 15px;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .socialLinks {
  padding-top: 0;
}

footer .socialLinks i,
footer .socialLinks a {
  color: white;
  font-size: 1.3rem;
}

.thankYou {
  background-color: #ec279d;
  height: 100vh;
  padding-top: 100px;
  text-align: center;
}

.thankYou .socialLinks {
  margin: 0 auto;
}

.thankYou .socialLinks a,
.thankYou .socialLinks i {
  font-size: 1.5rem;
  color: white;
}

.thankYou .socialLinks ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thankYou .wrapper {
  position: relative;
}

.thankYou h1 {
  padding-bottom: 20px;
}

.thankYou p {
  color: white;
}

.backToMainLink {
  display: inline-block;
  margin-top: 20px;
  padding: 7px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid white;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #00f5d4), color-stop(50%, transparent));
  background: linear-gradient(to right, #00f5d4 50%, transparent 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.backToMainLink:hover, .backToMainLink:focus {
  border: 3px solid #08090a;
  background-position: left bottom;
  color: #08090a;
}

svg {
  position: absolute;
}

.thankYouBottomSquiggle {
  left: 50;
  bottom: -100;
}

.thankYouTopSquiggle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
  top: 0;
}

@media (max-width: 800px) {
  .rightSquiggle {
    right: -20px;
    top: 40px;
  }
  .leftSquiggle {
    left: 25px;
    bottom: 10px;
  }
  .aboutMe .myFace img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 20px;
  }
  .aboutMe .aboutMeAll {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imageContainer {
    width: 100%;
  }
  .imageContainer img {
    width: 100%;
  }
  .projectText {
    margin: 20px 0 20px 10px;
  }
  h4 {
    font-size: 1.4rem;
  }
  .skills i {
    font-size: 4rem;
  }
}

@media (max-width: 630px) {
  .index nav {
    font-size: 1.2rem;
  }
  .index h1 {
    font-size: 4rem;
  }
  .index h2 {
    font-size: 1.6rem;
  }
  .socialLinks ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socialLinks .resume a,
  .socialLinks i {
    font-size: 1.5rem;
  }
  .leftSquiggle {
    bottom: 30px;
  }
  .skills .iconRows {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .skills .iconRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactInfo input {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
  .contactInfo input:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .index nav ul a {
    color: white;
  }
  .srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    line-height: 1.5;
    font-size: 3rem;
    color: #fee540;
    text-decoration: none;
    padding-top: 20px;
  }
  .menuToggle:hover, .menuToggle:focus {
    color: #00f5d4;
  }
  .mainMenu {
    position: absolute;
    display: none;
    top: 0;
    overflow-y: scroll;
    overflow-x: visible;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    -webkit-box-shadow: 0.3s ease;
            box-shadow: 0.3s ease;
    z-index: 999;
    background-color: #ec279d;
  }
  .mainMenu ul {
    min-height: 100%;
    width: 200px;
  }
  .mainMenu a {
    display: block;
    color: #08090a;
  }
  .mainMenu li a:hover,
  .mainMenu li a:focus {
    background-color: #fee540;
    color: #08090a;
  }
  .mainMenu .menuClose {
    position: absolute;
    right: 0;
    top: 0;
  }
  .mainMenu.menuOpen, .mainMenu[aria-expanded="true"] {
    display: block;
    right: 0;
    outline: none;
  }
  .mainMenu.menuOpen .menuClose,
  .mainMenu[aria-expanded="true"] .menuClose {
    z-index: 1001;
  }
  .mainMenu.menuOpen ul,
  .mainMenu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
    margin-top: 40px;
  }
  .mainMenu.menuOpen + .backdrop,
  .mainMenu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #ec279d;
    background: rgba(0, 0, 0, 0.85);
    cursor: default;
  }
  .fa-times {
    font-size: 3.5rem;
    padding: 15px;
    color: #fee540;
  }
  .fa-times:hover, .fa-times:focus {
    color: #00f5d4;
  }
  @supports (position: fixed) {
    .mainMenu,
    .mainMenu.menuOpen + .backdrop,
    .mainMenu[aria-expanded="true"] + .backdrop {
      position: fixed;
    }
  }
}

@media (max-width: 530px) {
  .index h1 {
    line-height: 1.1;
    font-size: 3rem;
  }
  .leftSquiggly {
    bottom: 5px;
    left: -12px;
  }
  .contactSquiggle {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
    top: -65px;
    right: -4px;
  }
}

@media (max-width: 400px) {
  .rightSquiggle {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
    top: -17px;
    right: 0px;
  }
  .leftSquiggle {
    bottom: -60px;
    left: 10;
    -webkit-transform: rotate(-27deg);
            transform: rotate(-27deg);
  }
  .aboutMe .myFace img {
    margin-left: 20px;
  }
  body,
  textarea,
  p {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */